<h1>ToDo <small>List</small></h1>
<img ng-model="profileImage" id="profileImage" src="" alt="Smiley face" width="42" height="42">
<p>Repeater - Yep you have to do that...again.</p>

<form ng-submit="submit()" name="tc.todoForm" class="form col-md-12 center-block">

    <div class="form-group">
        <input placeholder="My Task" class="form-control input-lg" type="text" id="todo" name="task" ng-model="tc.todoData.todo">
        <span class="warning help-block" ng-show="false">Must be all letters and number</span>
    </div>
    <label>
    <input ng-checked="checkeduc" class="form-control repeater" type="checkbox" name="uc" value="0" ng-model="tc.todoData.uc"> Until Complete
    </label>
    <label>
    <input ng-checked="checkedWeek" class="form-control repeater" type="checkbox" name="week" value="7" ng-model="tc.todoData.week"> Weekly
    </label>
    <label>
    <input ng-checked="checkedMonth" class="form-control repeater" type="checkbox" name="month" value="30" ng-model="tc.todoData.month"> Monthly
    </label>
    <label>
    <input ng-checked="checkedQuarter" class="form-control repeater" type="checkbox" name="quarter" value="90" ng-model="tc.todoData.quarter"> Quarterly
    </label>
    <div class="form-group">
        <button class="btn btn-primary btn-lg btn-block" type="submit" >Add</button>
    </div>
</form>

<div class="clear">
    <p>Todo List</p>
    <ul ng-repeat="data in displayUcData">
        <li ng-click="" ng-class="{}">{{data.todo}}<span class="" ng-click="delete(data.id)">Delete</span><span class="" ng-click="edit(data)">Edit</span><span class="" ng-click="saveEdit()">Save Edit</span></li>
    </ul>
</div>

<div class="clear">
    <p>Todo Weekly</p>
    <ul ng-repeat="data in displayWeekData">
        <li ng-class="{}">{{data.todo}}<span class="" ng-click="complete(data.id)">Complete</span>
            <span class="" ng-click="showNote(data.id)">Get Note</span>
            <span class="" ng-click="saveNote(data.id)">Save Note</span>
        </li>

    </ul>
</div>

<div class="clear">
    <p>Todo Monthly</p>
    <ul ng-repeat="data in displayMonthData">
        <li ng-class="{}">{{data.todo}}<span class="" ng-click="complete(data.id)">Complete</span>
            <span class="" ng-click="showNote(data.id)">Get Note</span>
            <span class="" ng-click="saveNote(data.id)">Save Note</span>
        </li>
    </ul>
</div>

<div class="clear">
    <p>Todo Quarterly</p>
    <ul ng-repeat="data in displayQuarterData">
        <li ng-class="{}">{{data.todo}}<span class="" ng-click="complete(data.id)">Complete</span>
            <span class="" ng-click="showNote(data.id)">Get Note</span>
            <span class="" ng-click="saveNote(data.id)">Save Note</span>
        </li>
    </ul>
</div>
<p class="clear"><a href="/#/reset">Reset Password</a></p>

<hr>

<div class="row">
    <h4>Upload on file select</h4>
    <button type="file" ngf-select="uploadFiles($file, $invalidFiles)"
            accept="image/*" ngf-max-height="1000" ngf-max-size="1MB">
        Select File</button>
    <br><br>
    File:
    <div style="">{{f.name}} {{errFile.name}} {{errFile.$error}} {{errFile.$errorParam}}
        <span class="progress" ng-show="f.progress >= 0">
      <div style="width:{{f.progress}}%"
           ng-bind="f.progress + '%'"></div>
  </span>
    </div>
    {{errorMsg}}
</div>

