form
  display: inline-block

.todo
  text-align: center
  padding-bottom: 25px

input .task
  width: 60%

input .repeater
  margin: 5px 35px

a.close
  float: right

ul
  list-style-type: none

li:before
  content: "\2610"
  margin-right: 5px

.strikeOut
  text-decoration: line-through

span
  float: right
  margin: 5px 8px
  border-left: 2px
  cursor: pointer

.clear
    clear: both

.thumb
    width: 24px
    height: 24px
    float: none
    position: relative
    top: 7px


form .progress
  line-height: 15px


.progress
  display: inline-block
  width: 100px
  border: 3px groove #CCC


.progress div
  font-size: smaller
  background: orange
  width: 0

h1
  display: inline-block

img
  display: inline-block
  float: right
