form
  display: inline-block

.todo
  text-align: center
  padding-bottom: 25px

input .task
  width: 60%

.repeater
  margin: 5px 35px

a.close
  float: right

ul
  list-style-type: none

li:before
  content: "\2610"
  margin-right: 5px

.complete
  text-decoration: line-through

